<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Greeting</title>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
    <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
</head>
<nav style="text-align: center; margin-bottom: 30px;">
    <a href="/" style="margin-right: 20px;">Home</a>
    <a href="/posts">Blog</a>
</nav>
<body>
<div style="text-align: center; margin-top: 50px;">
    <h2 th:text="'Hello, ' + ${userName} + '!'">Hello, User!</h2>
    <a href="/">Go Back</a>
</div>
</body>
</html>